@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
 height: 100vh;
 width: 100vw;
 background: rgb(2, 0, 36);
 background: linear-gradient(
   225deg,
   rgba(238, 233, 243, .90) 20%,
   rgba(187, 233, 240, .90) 50%,
   rgba(248, 214, 240, .90) 80%
  );

/*Titulo*/  
  font-family: Alkatra;
  font-size: 54px;
  color: white;
  text-shadow: 3px 3px 3px grey;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

/*Tabuleiro*/
  .board {
   display: grid;
   grid-template-columns: repeat(3, auto);   
   width: 100%;
   height: 100%;
   justify-content: center;
   align-content: center;
   justify-items: center;
   align-items: center;
  }

  
  /*Célula*/
  .cell {
    width: 100px;
    height: 100px;
    border: 2px solid white;   
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;    
  }
  .cell.x, 
  .cell.circle {
    cursor: not-allowed;
  }
  
  /*Sem Bordas Externas*/
  .cell:first-child,
  .cell:nth-child(2),
  .cell:nth-child(3) {
    border-top: none;
  }
  
  .cell:nth-child(3n + 1) {
    border-left: none;    
  }
  
  .cell:nth-child(3n + 3) {
    border-right: none;
  }
  
  .cell:last-child,
  .cell:nth-child(8),
  .cell:nth-child(7) {
    border-bottom: none;
  }
  
  /*Sombra*/
   .board.x .cell:not(.x):not(.circle):hover::before,
   .board.x .cell:not(.x):not(.circle):hover::after, 
   .board.circle .cell:not(.x):not(.circle):hover::before {
    background: rgb(245, 245, 245, .5) !important;
   }
    
   .board.circle .cell:not(.x):not(.circle):hover::after {
    background: rgba(187, 233, 240, .5);
   }
   
/* X */
 .cell.x::before,
 .cell.x::after,
 .board.x .cell:not(.x):not(.circle):hover::before,
 .board.x .cell:not(.x):not(.circle):hover::after {
   content: "";
   position: absolute;
   height: calc(100px * .15);
   width: calc(100px * .9);
   background-color: white;
  }

 .cell.x::before,
 .board.x .cell:not(.x):not(.circle):hover::before {
   transform: rotate(45deg);
 }

 .cell.x::after,
 .board.x .cell:not(.x):not(.circle):hover::after {
   transform: rotate(-45deg);
 }

/* Círculo */
 .cell.circle::before,
 .cell.circle::after,
 .board.circle .cell:not(.x):not(.circle):hover::before,
 .board.circle .cell:not(.x):not(.circle):hover::after {
   content:"";
   position: absolute;
   border-radius: 50%;
  }
 .cell.circle::before,
 .board.circle .cell:not(.x):not(.circle):hover::before {
   height: calc(100px * .9);
   width: calc(100px * .9);
   background: white;
  }

 .cell.circle::after,
 .board.circle .cell:not(.x):not(.circle):hover::after {
   height: calc(100px * .6);
   width: calc(100px * .6);
   background: rgba(187, 233, 240, .90) 50%
  }
 
/*Mensagem*/
  .winning-message {    
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0, .5);
    text-shadow: 5px 5px 5px black;
    font-family: "Alkatra"; 
  }

  .winning-message button {
    font-family: "Alkatra";
    font-size: 4rem;
    cursor: pointer;
    padding: 3px 13px;
    border-radius: 30px ;
    border: none;
    margin-top: 13px;
    background-color: rgba(248, 214, 240, .90);
    box-shadow: 5px 5px 5px black;
    text-shadow: 1px 1px 1px grey;
    color: white
  }

  .winning-message button:hover {
    background-color: white;
    color:rgba(248, 214, 240, .90)
  }

  .winning-message-text {
    color: white;
    font-size: 5rem;
  }

  .show-winning-message {
  display: flex;
}